.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}
.background{
	background-color:lightblue;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:-1;
}
.body-sections{

}
section{
	min-height:100%;
	width:100%;
	padding-top:61px;
	padding-bottom:10px;
}
.section0{
	width:100%;
	height:100%;
}
.our-story{
	background-color:white;
}
.the-day{
	background-color:#ffd1dc;
}
.travel{
	width:100%;
	height:100%;
	background-color:rgb(77,77,77);
}
.recommendations{
	background-color:white;
}
.icons{
	margin:auto;
	color:white;
	font-size:25px;
	width:375px;
}
.icons span{
	margin-left:25px;
	margin-right:25px;
}
.icons span:hover{
	color:rgba(255,255,255,0.5);
}